@import "../styles/variables.scss";

.aboutCSS {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 2rem;

  .componentCSS {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 0.5rem;

    .componentHeaderCSS {
      font-size: 1.75rem;
      font-weight: 700;

      color: $primaryColor;
    }

    .componentContentCSS {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

@media (max-width: $mobileBreakPoint) {
  .aboutCSS {
    padding: 0 1rem;
  }
}
