@import "../styles/variables.scss";

.educationCSS {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .summaryCSS {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .programCSS {
      color: $hoverColor;
      font-size: 1.25rem;
      font-weight: 700;
    }

    .schoolCSS {
      font-size: 1rem;
      font-weight: 600;
    }

    .periodsCSS {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .detailsCSS {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .gpaCSS {
      display: list-item;
      margin-left: 1.5rem;
    }

    .coursesCSS {
      display: list-item;
      margin-left: 1.5rem;

      p {
        margin-bottom: 0.5rem;
      }

      .courseDetailsCSS {
        display: list-item;
        margin-left: 1.5rem;

        .courseCSS {
          .courseLinkCSS {
            color: $linkColor;

            &:hover,
            &:focus {
              color: $linkHoverColor;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
