@import "../styles/variables.scss";

.footerCSS {
  background-color: $bgColor;
  text-align: center;

  .wrapperCSS {
    padding: 3rem 1rem 2rem 1rem;

    max-width: $maxLayoutWidth + 100px;
    margin: 0 auto;
    color: $textColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .emailBtnCSS {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;
      font-weight: 600;

      background-color: $secondaryBtnColor;

      width: fit-content;
      padding: 0.75rem 1.5rem;
      border-radius: 1rem;

      border-left: 3px solid $primaryColor;
      border-right: 3px solid $primaryColor;

      transition: 0.25s;

      .emailIconCSS {
        font-size: 1.25rem;
      }

      &:hover,
      &:focus {
        padding: 0.75rem 3rem;
        background-color: $secondaryBgColor;
      }
    }

    .socialCSS {
      nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a {
          color: $textColor;
          transition: 0.25s;

          .socialIconCSS {
            font-size: 2rem;
          }

          &:hover,
          &:focus {
            color: $primaryColor;
          }
        }
      }
    }

    .otherDetailsCSS {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .techCSS {
        span {
          font-weight: 700;
          text-decoration: underline;
          text-decoration-color: $primaryColor;
        }
      }

      .copyrightsCSS {
        font-size: 1rem;
      }
    }
  }
}
