.containerCSS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: var(--maxPageWidth);
  align-items: self-end;
  color: var(--primaryColor);
  font-weight: var(--boldFontWeight);

  a {
    &:hover {
      color: var(--hoverColor);
    }
  }
}

.logoCSS {
  font-weight: var(--normalFontWeight);

  a {
    font-size: 1.75rem;

    span {
      font-weight: var(--extraBoldFontWeight);
    }
  }
}

.navbarCSS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--lgGap);
}
