@import "../styles/variables.scss";

.headerCSS {
  background-color: $bgColor;
  padding: 2rem 1rem;

  .wrapperCSS {
    max-width: 1194px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    color: $primaryColor;
    transition: 0.25s;

    .logoCSS {
      font-size: 2rem;

      h1 {
        font-weight: 400;

        span {
          font-weight: 900;
        }
      }

      &:hover {
        color: $hoverColor;
      }
    }

    .navCSS {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;

      font-size: 1.25rem;
      transition: 0.25s;

      a {
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}
