@import "../styles/variables.scss";

.introCSS {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 915px;
  margin: 0 auto;

  .photoContainerCSS {
    max-width: 400px;
    flex-basis: 50%;

    .photoCSS {
      border-radius: 50%;
    }
  }

  .summaryCSS {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;

    .detailsCSS {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 2.5rem;
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .resumeBtnCSS {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;
      font-weight: 600;

      background-color: $primaryColor;
      color: $secondaryTextColor;
      width: fit-content;
      padding: 0.75rem 2rem;
      border-radius: 1.25rem;

      transition: 0.25s;

      .iconCSS {
        font-size: 1.5rem;
      }

      &:hover {
        background-color: $hoverColor;
      }
    }
  }
}

@media (max-width: $mobileBreakPoint) {
  .introCSS {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;

    .photoContainerCSS {
      max-width: 350px;
    }

    .summaryCSS {
      align-items: center;
    }
  }
}
