@import "../styles/variables.scss";
.layoutCSS {
  background-color: $bgColor;
  color: $textColor;

  .wrapperCSS {
    max-width: 1074px;
    margin: 0 auto;
    padding: 0 1rem;

    .mainCSS {
      display: flex;
      flex-direction: column;
    }
  }
}
