@import "../styles/variables.scss";

.portfolioCSS {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 0 2rem;

  .titleCSS {
    border-radius: 0.5rem;
    color: $primaryColor;

    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .containerCSS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: $mobileBreakPoint) {
  .portfolioCSS {
    padding: 0 1rem;

    .containerCSS {
      grid-template-columns: 1fr;
    }
  }
}
