@import "../styles/variables.scss";

.projectCSS {
  background-color: $secondaryBgColor;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 6px 4px 0px #816152;

  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 1.5rem;

  transition: 0.25s;

  .titleCSS {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primaryColor;

    overflow: hidden;

    width: auto;
    text-wrap: wrap;
    text-overflow: ellipsis;
  }

  .descCSS {
    overflow: hidden;

    text-wrap: wrap;
    text-overflow: ellipsis;
  }

  .techWrapperCSS {
    overflow: hidden;

    text-wrap: wrap;
    text-overflow: ellipsis;

    .techUsedCSS {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .techCSS {
        font-size: 0.75rem;
        padding: 0.25rem 0.75rem;
        background-color: $cardColor;
        border-radius: 0.25rem;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $primaryColor;
    cursor: pointer;

    .titleCSS {
      font-weight: 900;
    }

    .titleCSS,
    .descCSS {
      color: $secondaryTextColor;
    }
  }
}
