@import "../styles/variables.scss";

.projectCSS {
  background-color: $bgColor;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;

  transition: 0.25s;

  .titleCSS {
    font-size: 2rem;
    color: $primaryColor;
  }

  .techWrapperCSS {
    .techUsedCSS {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;

      .techCSS {
        text-wrap: nowrap;

        font-size: 0.75rem;
        padding: 0.25rem 0.75rem;
        background-color: $secondaryBgColor;
        border-radius: 0.25rem;
      }
    }
  }

  &:hover {
    background-color: $textColor;
    cursor: pointer;

    .titleCSS {
      color: $secondaryTextColor;
    }

    .descCSS {
      color: $secondaryTextColor;
    }
  }
}
