// COLORS
$primaryColor: #fb923c;
$bgColor: #0e0c0b;
$secondaryBgColor: #2e2825;

$textColor: #efefef;
$secondaryTextColor: #0e0c0b;
$lightTextColor: #cab5a1;

$hoverColor: #ffc79a;

$linkColor: #44bcff;
$linkHoverColor: #abe1ff;

$cardColor: #0e0c0b;
$cardHoverColor: #564f49;

$secondaryBtnColor: #837f7d;

// OTHERS
$maxLayoutWidth: 900px;
$mobileBreakPoint: 760px;
