:root {
  /* Colors */
  /* COLORS: PRIMARIES */
  --primaryColor: hsl(27, 96%, 61%);
  --primaryTextColor: hsl(0, 0%, 80%);
  --primaryBgColor: hsl(20, 12%, 5%);

  /* COLORS: SECONDARIES */
  --secondaryColor: hsl(27, 75%, 70%);
  --secondaryTextColor: hsl(0, 0%, 91%);
  --secondaryBgColor: hsl(20, 12%, 7%);

  /* COLORS: GRAYS */
  --lightGray: hsl(0, 0%, 65%);
  --mediumGray: hsl(0, 0%, 40%);
  --darkGray: hsl(0, 0%, 15%);

  /* COLORS: OTHERS */
  --linkColor: hsl(204, 65%, 60%);
  --linkHoverColor: hsl(205, 96%, 80%);
  --hoverColor: hsl(32, 98%, 83%);

  /* Font Size */
  --3xlTextFontSize: 3rem;
  --2xlTextFontSize: 2.5rem;
  --xlTextFontSize: 2rem;
  --lgTextFontSize: 1.5rem;
  --mdTextFontSize: 1.25rem;
  --regTextFontSize: 1rem;
  --smTextFontSize: 0.75rem;

  /* Font weight */
  --thinFontWeight: 200;
  --normalFontWeight: 400;
  --semiBoldFontWeight: 600;
  --boldFontWeight: 700;
  --extraBoldFontWeight: 900;

  /* Padding */
  --buttonPadding: 0.5rem 1.5rem;

  /* Width */
  --maxPageWidth: 1152px;

  /* Gaps */
  --xlGap: 4rem;
  --lgGap: 2rem;
  --mdGap: 1.5rem;
  --smGap: 1rem;
  --xsGap: 0.5rem;

  /* Others */
  --transitionSpeed: 0.25s;
}
