.containerCSS {
  margin-top: 1rem;

  h3 {
    font-size: var(--regTextFontSize);
    font-weight: var(--semiBoldFontWeight);
    color: var(--secondaryColor);
  }

  h4 {
    font-size: var(--regTextFontSize);
  }

  .periodsCSS {
    font-size: var(--regTextFontSize);
  }

  .detailsCSS {
    color: var(--lightGray);

    li {
      p {
        margin-top: 0.25rem;
      }
    }

    .gpaCSS {
      display: list-item;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 0.25rem;
    }

    .coursesCSS {
      display: list-item;
      margin-left: 2rem;
      margin-right: 2rem;

      li {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }
}

.linkCSS {
  color: var(--linkColor);
  &:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
  }
}
