.containerCSS {
  margin-top: 1rem;

  h3 {
    font-size: var(--regTextFontSize);
    font-weight: var(--semiBoldFontWeight);
    color: var(--secondaryColor);
  }

  ul {
    list-style: none;
    display: flex;
    gap: var(--xsGap);
  }
}
