@import "../styles/variables.scss";

.notFoundCSS {
  padding: 2.5rem 0.75rem;

  .wrapperCSS {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 4rem;

    .titleCSS {
      font-size: 2rem;
      color: $primaryColor;
      text-transform: uppercase;
      font-weight: 600;
    }

    .messageCSS {
      font-size: 1.25rem;
      font-weight: 300;
    }

    .buttonCSS {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;
      font-weight: 600;

      background-color: $primaryColor;
      color: $secondaryTextColor;
      width: fit-content;
      padding: 0.5rem 2rem;
      border-radius: 1.25rem;

      transition: background-color 0.25s;

      &:hover,
      &:focus {
        background-color: $hoverColor;
      }
    }
  }
}
