.containerCSS {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--secondaryBgColor);

  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: var(--transitionSpeed);

  .imgCSS {
    max-width: 450px;

    img {
      height: 250px;
      border: 1px solid var(--darkGray);
    }
  }

  .detailsCSS {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    h3 {
      font-size: var(--regTextFontSize);
      font-weight: var(--semiBoldFontWeight);
      color: var(--primaryColor);
    }

    p {
      color: var(--lightGray);
      font-size: var(--smTextFontSize);
      overflow: auto;
    }
  }

  &:hover {
    background-color: var(--mediumGray);
    cursor: pointer;
  }
}
